// --------COLORS--------

// DARK BLUE
$dark-blue-900: #21212b;
$dark-blue-800: #22222b;
$dark-blue-700: #2b2b36;

// WHITE
$white: #ffffff;

// GRAY
$gray: #a2abbd;

// ORANGE
$orange: #edad61;

// --------FONTS--------

$regular-font: normal 22px HelveticaNeue;
$bold-font: bold 22px HelveticaNeue;
